@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "machina-bold";
  src: url("../src/assets/fonts/NeueMachina-Ultrabold.otf");
}

@font-face {
  font-family: "machina";
  src: url("../src/assets/fonts/NeueMachina-Regular.otf");
}

@layer base {
  h1 {
    font-family: "machina-bold";
  }
  h2 {
    font-family: "machina";
  }
  h3 {
    font-family: "machina";
  }
  h4 {
    font-family: "Helvetica Neue";
  }
  h5 {
    font-family: "Helvetica";
  }
  p {
    font-family: "Helvetica Neue";
  }
  a {
    font-family: "Helvetica Neue";
  }
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
